/************************** PRODUCTS ******************************/

.container-products{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 2rem;
}

.card-product{
    background-color: #ffff;
    padding: 1rem 2rem;
    border-radius: .5rem;
    cursor: pointer;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
}

.container-img{
    position: relative;
}

.container-img img{
    width: 100%;
}

.container-img .categoryProduct{
    position: absolute;
    left: 0;
    background-color: var(--background-color);
    color: #000;
    padding: 2px 1rem;
    border-radius: 1rem;
    font-size: 1rem;
}

.card-product:hover .categoryProduct{
    background-color: #000;
    color: #fff;
}

.button-group{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: absolute;
    top: 0;
    right: -2rem;
    z-index: -1;
    transition: all .4s ease;
}

.button-group span{
    border: 1px solid var(--primary-color);
    padding: .8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    transition: all .4s ease;
}

.button-group span:hover{
    background-color: var(--primary-color);
}

.button-group span i{
    font-size: 1.5rem;
    color: var(--primary-color);
}

.button-group span:hover i{
    color: #fff;
}

.card-product:hover .button-group{
    z-index: 0;
    right: -1rem;
}

.content-card-product{
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, min-content);
    row-gap: 2px; /*separacion de las filas*/
}

.stars{
    grid-row: 2/3;
    grid-column: 1/-1; /*  - 1 -> hasta el final */
    margin-bottom: .3rem;
}

.stars p{
    font-size: 1.2rem;
    color: gray;
}

.content-card-product h3{
    grid-row: 1/2;
    grid-column: 1/-1;
    font-weight: 400;
    font-size: 1.4rem;
    cursor: pointer;
}

.add-cart{
    justify-self: start;
    border: 2px solid var(--primary-color);
    padding: 1rem;
    border-radius: 50%;
    cursor: pointer;
    transition: all .4s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-cart:hover{
    background-color: var(--primary-color);
}

.add-cart i{
    font-size: 1.5rem;
    color: var(--primary-color);
}

.add-cart:hover i{
    color: #fff;
}

.content-card-product .price{
    justify-self: end;
    align-self: center;
    font-size: 1.5rem;
    font-weight: 600; 
}

.content-card-product .price span{
    font-size: 1.5rem;
    font-weight: 400;
    text-decoration: line-through; /*para que este subrayado*/
    color: #777;
    margin-left: .5rem;
}